* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend Deca", sans-serif;
    color: #fafafa;
    background-color: #001f31;
    height: 100vh;
    text-align: center;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 7.5rem 0 2.5rem 0;
}

header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 2.25rem;
    color: #ade2ff;
    font-weight: 900;
    margin-top: 0.75rem;
}

a:hover {
    color: #65c8ff;
}

footer {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    color: #98d1ff;
}

.desktop {
    display: none;
}

.mobile {
    display: flex;
}

@media (min-width: 1025px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: flex;
    }
}
